<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<!-- 서버 구동과 동시에 곧바로 읽어낼 문서인 root-context.xml(최상위 설정파일)의 경로를 등록한 부분 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		/WEB-INF/spring/root-context.xml
		/WEB-INF/spring/spring-security.xml
		</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- ***여기가 중요**** -->
	<!-- Processes application requests -->
	<!-- DispatcherServlet이 구동될 때 servlet-context.xml  파일을 읽겠다. -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- 
	
		*필터!
		모든 요청 처리 전 공통적으로 필요로 하는 기능들을
		클라이언트의 요청을 controller가 받기 전에 먼저 가로채서 수행할 수 있도록 함
		배포서술자(web.xml)에 작성하여 해당 작성 내용이 먼저 수행되도록 한다.
		
		* 스프링에서 제공해주는 인코딩 필터를 등록
		
		-org.springframework.web.filter.CharacterRnEncodingFilter
		-필터 등록시 filter태그와 filter-mapping태그를 함께 써야한다.
		-꼭꼭꼭 filter-name태그로 filter명을 지정해야함!!
	
	
	
	 -->

	<filter>
	<filter-name>encodingFilter</filter-name>
	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	
	<!-- 옵션1. 인코딩 방식을 UTF-8로 지정 -->
	<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	
	</init-param>
	<!-- 옵션 2: 혹시나 충돌 시 강제 인코딩 방식도 UTF-8로wlwjd -->
	<init-param>
		<param-name>forceEncoding</param-name>
		<param-value>true</param-value>
	
	</init-param>
	</filter>
	
	<!-- 위에서 지정한 encodingFilter를 모든 패턴에 적용 -->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	
	</filter-mapping>
	
	
	
	
	
	
	
	
	
	

</web-app>
